.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(15, 14, 14);
    text-shadow: 0 0 20px #e7d2d2, 0 0 40px #ffffff;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #ebedf0;
    filter: drop-shadow(0 0 0.75rem rgb(19, 16, 16));
    text-shadow: 0 0 20px rgb(2, 0, 128), 0 0 40px rgb(28, 0, 128);
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(12, 11, 12);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(10, 10, 10);
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgb(241, 82, 95);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }